  <div class="header">
    <h1>Manny's Cocina</h1>
    <p>Your Door to Mexico.</p>
  </div>


  <div class="column">
    <h2>Atmosphere</h2>
    <p>
      A unique atmosphere is found in dining rooms that will serve small and larger       parties. Your family – whether you are small in numbers or you bring your extended family from work — will enjoy the sights, sounds and cuisine served at Manny’s. When weather permits — enjoy lunch, happy hour or a dinner on our patios.

       When you are surrounded with all of this beauty it is easy to see why we take such pride and joy in presenting you with our authentic Mexican dishes. Our entrées are works of art — and will “steal the show” to make your Manny’s experience truly wonderful. We invite you to visit us soon. Don’t worry — if you can’t join us soon you can enjoy our photo gallery..
    </p>
  </div>

    <div class="column">
    <h2>Our Family</h2>
    <p>
      the RIVERA FAMILY
      “Thank you for joining us at Manny’s Cocina. We appreciate each and every customer very much and are pleased to serve you. Your comments and ideas are encouraged to ensure that Manny’s continues to be your #1 choice for a truly incredible dining experience. You have our promise that we will continue to passionately pursue the freshest and best tasting, authentic coastal Mexican flavor combinations available.</p>
  </div>
</div>




<footer>By Ulises Cadena</footer>